# будет игнорироваться каталог tmp
# вне зависимости от того, в каком каталоге он находится
# слэш в конце указывает, что это каталог
tmp/

# будут игнорироваться все файлы заканчивающиеся суффиксами _old, _backup
# вне зависимости от того, в каком каталоге они находятся
*backup
*old

# будут игнорироваться файлы
Thumbs.db
.DS_Store